<h1> CREATE NEW USER </h1>
<%= render 'form' %>
<br>
<br>
<h1> EDIT PROFILE </h1>
<%= form_for @user, :url => {:action => "edit", :controller => "users"} do |form| %>
  <%= form.label :username, "Username: " %> <br>
  <%= form.text_field :username %> <br>
  <%= form.submit %>
<% end %>
